* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(117deg, #fff 0.69%, #f5f5f5 100%);
}

.calculator {
  max-width: 440px;
  width: 100%;
  max-height: 672px;
  height: 100%;
  display: flex;
  padding: var(--space-1, 4px);
  align-items: flex-start;
  gap: var(--space-2, 8px);
  border-radius: var(--radii-2xl, 16px);
  border: 1px solid #fafafa;
  background: url("./textures/calculator.png"),
    linear-gradient(155deg, #e5e5e5 -0.05%, #a3a3a3 100.5%);
  box-shadow: 16px 43px 46px 0px rgba(0, 0, 0, 0.14),
    36px 97px 62px 0px rgba(0, 0, 0, 0.08),
    64px 173px 74px 0px rgba(0, 0, 0, 0.02),
    100px 270px 81px 0px rgba(0, 0, 0, 0), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  filter: blur(0.125px);
}

.inner {
  display: flex;
  padding: var(--space-4, 16px) var(--space-4, 16px) var(--space-12, 48px)
    var(--space-4, 16px);
  align-items: flex-start;
  gap: var(--space-2, 8px);
  border-radius: var(--radii-2xl, 16px);
  background: url(<path-to-image>), lightgray 0% 0% / 100px 100px repeat,
    linear-gradient(155deg, #e5e5e5 -0.05%, #a3a3a3 100.5%);
}

.calc-container {
  display: grid;
  max-width: 432px;
  width: 100%;
  max-height: 664px;
  height: 100%;
  outline: 2px solid black;
  grid-template-areas:
    "screen screen screen screen"
    "clear clear delete divide"
    "seven eight nine multi"
    "four five six minus"
    "one two three plus"
    "zero zero zero equal";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border-radius: 24px;
  overflow: hidden;
}

.screen {
  background-color: black;
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
  grid-area: screen;
}

.action {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  outline: 2px solid black;
}

.operator {
  font-size: 24px;
  border: none;
  cursor: pointer;
  background-color: orange;
  transition: background-color 0.3s;
  outline: 2px solid black;
}

.clear {
  grid-area: clear;
  border: none;
}

.delete {
  grid-area: delete;
}

.divide {
  grid-area: divide;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.multi {
  grid-area: multi;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.minus {
  grid-area: minus;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.plus {
  grid-area: plus;
}

.zero {
  grid-area: zero;
}

.equal {
  grid-area: equal;
}
